*{
    margin: 0;
    padding: 0;
}
video{
    position: fixed;
}

.form{
    position: absolute;
    border: 2px solid white;
    top: 28%;
    right: 35%;
    padding: 20px;
    margin: 8px;
    text-align: center;
    width: 300px;
    height: auto;
}
input{
    margin: 8px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

button{
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px;
    margin: 10px;
}